.elem {
    height: 50vh;
    width: 44.5%;
    background-color: white;
    box-shadow: 0 10px 60px rgba(10,24,77,.25);
    border-radius: 10px;
    padding: 30px;
}

.infoElem {
    display: -webkit-box;
    display: flex;
    width: 170px;
    position: relative;
    border-bottom: 2px solid lavender;
    padding-bottom: 5px;
    color: #374072;
    font-family: 'Open Sans', sans-serif;
}

.infoElem span:nth-child(1) {
    width: 130px;
}

.attention,
.attention a {
    font-family: 'Open Sans', sans-serif;
    color: #374072;
    line-height: 160%;
}

.infoElem img {
    position: absolute;
    right: -20px;
    top: 3px;
    width: 15px;
    height: 15px;
    cursor: pointer;
}

label {
    display: -webkit-box;
    display: flex;
}