.elem {
    height: 50vh;
    width: 44.5%;
    background-color: white;
    box-shadow: 0 10px 60px rgba(10,24,77,.25);
    border-radius: 10px;
    padding: 30px;
}
.liElem {
    list-style-type: none;
    border-bottom: 2px solid lavender;
    height: 35px;
    display: -webkit-box;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.liElem div {
    height: 20px;
    width: 16%;
    text-align: center;
    font-family: 'Open Sans', sans-serif;
    color: #374072;
}

.tableElemWrapper {
    height: 40vh;
    overflow: hidden;

}

.tableElemWrapperIn {
    overflow-y: scroll;
    max-height: 100%;
    scrollbar-width: none;
}

.tableElemWrapperIn::-webkit-scrollbar {
    width: 0px;
    background: transparent;
    display: -webkit-box;
    display: flex;
    align-items: center;
}

.formTable {
    display: -webkit-box;
    display: flex;
    margin-left: -5px;
    margin-top: 10px
}

.formTable div {
    height: 20px;
    width: 16%;
}

.formTable div input {
    font-family: 'Open Sans', sans-serif;
    width: 50%;
    outline: none;
    border: 2px solid lavender;
    border-radius: 10px;
    display: block;
    margin-left: 15px;
    color: #374072;
}

.formTable div:first-child input {
    width: 102%;
    margin-left: -5px;
}

.formTable button {
    cursor: pointer;
    padding: .2em 2em;
    border-radius: 10px;
    border: none;
    outline: none;
    background-color: cornflowerblue;
    color: white;
    font-family: 'Open Sans', sans-serif;
    font-weight: 700;
}
